.banner-about-img{
    max-height: 300px;
}

.banner-background-text-navigation{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1200px;
}

.main-school-banner-bottom{
    background-color: #E1E2E3;
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 18%;
    color: #032D5A;

}

.Banner-background-Image{
    width: 100%;
    height: 900px;
    object-fit: fill;
    display: flex;
    align-items: center;
}

.primary-school-image{
    width: 100%;
    max-width: 600px;
    object-fit: contain;
    margin-bottom: 20px;
    margin-left: 80px;
}

.primary-school-banner-content{
    margin-top: 20%;
}

.primary-school-bottom-description{
    margin-top: 10px;
    color: #032D5A;
    font-size: 24px;
}