.top-navbar{
    background-color: #334776;
    height: 50px;
    max-width: 100%;
}

.top-nav-button{
    color: white;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 14px 16px;
}

.navbar-main-container{
    background-color: #032D5A;
    height: 140px;
}

.brand-logo{
    width: 420px;
    height: 80px;
    object-fit: contain;
}

.navbar-logo-list{
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

