.about-our-school-banner{
    background-color: #E1E2E3;
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 12%;
    color: #032D5A;

}

.banner-text-content{
    padding-left: 10%;
}
.banner-about-img{
    max-height: 300px;
}

.about-banner-img{
    max-width: 450px;
    max-height: 450px;
    margin-top: 150px;
}

.our-school-heading{
    font-size: 48px;
    text-align: center;
}

.image-container{
    position: relative;
    width: 50%;
}

.prinicpal-background{
    position: absolute;
    bottom: 0px;
    left: 1px;
    max-width: 800px;
    height: auto;
}

.prinicpal-section3-background{
    position: absolute;
    bottom: 0px;
    left: 1px;
    max-width: 800px;
    height: auto;
}

.prinicpal-section3-img{
    position: relative;
    /* left: 100px; */
    max-width: 700px;
    height: auto;
}
.prinicpal-img{
    position: relative;
    left: 100px;
    max-width: 400px;
    height: auto;
}

.image-description-container{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    height: auto;
}

.principal-description-container{
    width: 50%;
    position: relative;
}

.principal-description-sub-container{
    width: 80%;
    text-align: justify;
}

.principal-description{
    font-size: 18px;
    line-height: 28px;
    margin-top: 20px;
    font-weight: 400;
}

.principal-designation{
    font-size: 20px;
    margin-top: 10px;
    font-weight: 600;
}

.principal-fullname{
    font-size: 28px;
    font-weight: 600;
    margin-top: 10px;
}

.about-principal-section-2{
    background-color: #032D5A;
    display: flex;
    width: 100%;
}

.about-principal-section-2-heading{
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #fff;
}

.about-principal-section-2-description{
    font-size: 18px;
    line-height: 28px;
    margin-top: 20px;
    color: #fff;
    text-align: justify;
}

.about-principal-section2-main {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.about-principal-section-content{
    flex: 1;
    margin-left: 10%;

}


.about-principal-section-2-image {
    margin-left: 50px;
}

/* .rocket-background-size{
    max-width: 400px;
    max-height: 400px;
    object-fit: cover;
} */

@media only screen and (max-width: 600px) {
    .principal-description-container{
        width: 100%;
        position: relative;
    }

    .principal-fullname{
        font-size: 24px;
    }

    .principal-description{
        font-size: 16px;
        line-height: 28px;
        margin-top: 10px;
        font-weight: 400;
    }

    .prinicpal-section3-background{
        left: 0px;
        max-width: 100%;
        height: auto;
    }
    .prinicpal-section3-img{
        left: 0px;
        max-width: 100%;
        height: auto;
    }
    .image-container{
        position: relative;
        width: 100%
    }
  }