.banner-container {
    position: relative;
    width: 100%;
    height: calc(100vh - 120px); /* Subtracting navbar height */
    overflow: hidden;
    margin-top: -10px;
  }
  
  .banner-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .banner-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Dark overlay */
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .banner-content {
    text-align: center;
    color: white;
    max-width: 800px;
    padding: 2rem;
  }
  
  .school-logo-white {
    margin-bottom: 2rem;
  }
  
  .logo-image {
    max-width: 850px;
    height: auto;
  }
  
  .banner-title {
    font-size: 5rem;
    font-weight: 500;
    letter-spacing: 0.5rem;
    text-transform: uppercase;
    margin: 0;
    line-height: 1.2;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  }

  .main-about-school-home{
    background-color: #e3e9f6;
    max-width: 1000px;
    display: flex;
    justify-content: center;
  }
  /* .about-school-home-main{
    padding-left: 20%;
  } */
  
  .home-about-content-background {
    /* position: relative; */
    /* background-color: red; */
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .home-about-img {
    /* position: absolute; */
    /* top: 20; */
    /* left: -30%;  */
    max-width: 520px;
    height: 500px;
    object-fit: cover; 
    z-index: 2;
  }

  .image-about-main-home{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  
  .content-about-main-home {
    background-color: #e3e9f6;
    width: 45%;
    /* height: 500px; */
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    /* border-radius: 30px; */
    padding: 20px;
    /* position: relative; */
    /* z-index: 0; */
  }
  
  .content-main-about-description{
    max-width: 800px;
    text-align: justify;
    font-weight: 400;
    line-height: 1.6;
  }

  .standards-school-buttons{
    display: flex;
    width: 100%;
    margin-top: 40px;
    justify-content: center;
    gap: 50px;
  }

  .standard-school-button{
    width: 300px;
    height: auto;
    background-color:#032D5A;
    color: #FFFFFF;
    font-size: 18px;
    border: none;
    cursor: pointer;
    padding: 15px 20px;

  }
  
  .content-main-about {
    padding: 20px;
    z-index: 1;
  }

  .about-uk-description{
    max-width: 500px;
    text-align: justify;
    font-weight: 400
  }

  .school350-years-img{
    max-width: 560px;
    max-height: 350px;
  }
  
  .gradient-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: 
      linear-gradient(270deg, rgba(3, 45, 90, 0) 0%, rgba(3, 45, 90, 0.155) 84%, #032D5A 100%),
      linear-gradient(360deg, rgba(3, 45, 90, 0) 0%, rgba(3, 45, 90, 0.155) 84%, #032D5A 100%);
  }

  .lagacy-image-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .about-uk-school-main{
    display: flex;
    width: 100%;
    justify-content: center;
  }
  .about-uk-school-main-container{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content:center; 
  }

  .about-uk-school-main-heading{
    font-size: 36px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 20px;
  }

  .about-uk-school-image-text{
    position: relative;
  text-align: center;
  }
  .about-uk-overlay-text{
    position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 22px;
  }
  .advantage-card {
    @apply relative bg-[#ECF0F8] rounded-2xl p-6 shadow-lg border-4 border-[#032D5A];
    min-height: auto;
    width:340px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center
  }
  
  .advantage-number {
    @apply absolute -top-6 -left-[-30px] w-16 h-16 rounded-full bg-[#032D5A] 
    flex items-center justify-center text-white text-2xl font-bold;
  }
  
  .advantage-image {
    @apply w-full h-48 object-cover rounded-lg mb-4;
  }
  
  .news-card {
    @apply bg-[#032D5A] rounded-2xl overflow-hidden shadow-lg transition-transform duration-300 hover:transform hover:scale-105;
    max-width: 400px
  }
  
  .news-image {
    @apply w-full h-48 object-cover;
  }
  
  .news-content {
    @apply bg-[#002B5B] text-white p-6;
  }
  
  .news-date {
    @apply text-sm bg-[#B9C9E9] text-[#032D5A] mb-2 p-[6px] max-w-32 rounded-2xl justify-center items-center ;
  }
  
  .news-title {
    @apply text-xl font-bold mb-4;
  }
  
  .news-description {
    @apply text-gray-200 mb-4 line-clamp-3;
  }

  
  .read-more {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    margin-right: 10px;
  }

  .readmore-icon{
    background-color: white;
    padding: 10px;
    border-radius: 50%;
    color: #032D5A;
    height: 40px;
    width: 40px;
  }

  .advantage-section-main-container{
    max-width: 1400px;
    display: flex;
    flex-direction: column;
  }

  .news-section-main-container{
    max-width: 1400px;
    display: flex;
    flex-direction: column;
  }

  .about-uk-section-main-container{
    max-width: 1400px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .about-uk-school-image-text-container{
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  @media (max-width: 1024px) {
    .home-about-img {
      width: 100%;
      height: auto;
      left: 0;
    }
  
    .content-about-main-home {
      height: auto;
      padding: 20px;
    }
  
    .content-main-about {
      padding-left: 20px;
    }
  }
  

  /* Mobile responsiveness */
  @media (max-width: 1024px) {
    .banner-container {
      height: calc(100vh - 100px);
    }
  
    .banner-title {
      font-size: 3rem;
      letter-spacing: 0.3rem;
    }
  
    .logo-image {
      max-width: 400px; 
    }
  
    .banner-content {
      padding: 1.5rem; 
    }



  }
  
  @media (max-width: 768px) {
    .banner-container {
      height: calc(100vh - 80px); 
    }
  
    .banner-title {
      font-size: 2.5rem; 
      letter-spacing: 0.2rem;
    }
  
    .logo-image {
      max-width: 300px; 
    }
  
    .banner-content {
      padding: 1rem; 
    }

    .content-about-main-home {
      background-color: #e3e9f6;
      width: 100%;
      height: 500px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 30px;
      padding: 20px;
      position: relative;
      z-index: 0;
    }
  }
  
  @media (max-width: 480px) {
    .banner-container {
      height: calc(100vh - 60px); 
    }
  
    .banner-title {
      font-size: 2rem; 
      letter-spacing: 0.1rem;
    }
  
    .logo-image {
      max-width: 250px;
    }
  
    .banner-content {
      padding: 0.8rem;
    }
  }
  